# Apple Specific
.DS_Store

# Python related
*.pyc
*.py.swp

# Jupyter Notebook related
.ipynb_checkpoints/

# Matlab related
*.asv

# LaTeX related
*.aux
*.log

# Report related (due to PDF renaming)
main.pdf
main.synctex.gz